
<div class="container">
	<div class="pull-right">
		<ul class="nav nav-tabs" role="tablist">
			<li <%= "class=active" if session[:show].eql?'all' %> ><a href="?show=all">All</a></li>
			<li <%= "class=active" if session[:show].eql?'popular' %> ><a href="?show=popular">Popular</a></li>
			<li <%= "class=active" if session[:show].eql?'following' %> ><a href="?show=following">Following</a></li>
			<li <%= "class=active" if session[:show].eql?'mine' %> ><a href="?show=mine">Mine</a></li>
		</ul>
	</div>
</div>

<div id="thoughts" class="container">

<%=@thoughts.empty? ? "No thoughts here." : ""%>
<% @thoughts.each do |thought| %>

	<div class="jumbotron">

		<a href="/thoughts/<%=thought.id%>/"><h2><%= thought.thought %></h2></a>

		<footer class="text-right h3">— <%= link_to thought.thinker.name, thought.thinker %></footer>

		<div class="text-right">
			<%= form_tag("thoughts/thumbup") do %>
				<%= hidden_field(:thought, :id, :value=>thought.id) %>
				<div>

					<button type="submit" class="btn btn-lg">
						<span class="glyphicon glyphicon-thumbs-up"></span>
					</button>
					<a href="/thoughts/<%=thought.id%>/thumbers" class="h3">
						<span class="badge"> <%=thought.thumbs.size %></span>
					</a>
				</div>
			<% end %>
		</div>


	</div>

<% end %>

</div>

<br />

